<div class="page-name--content">{{title}}</div>
<div class="container">
    <div class="card">
        <form [formGroup]="assetForm" (ngSubmit)="onSubmit()" class="example-form">

            <div class="my-gr-input-control">
                <label for="name">Name: </label>
                <input id="name" class="my-input-control" type="text" formControlName="name">
            </div>
            <div *ngIf="assetForm.get('name')?.invalid && (assetForm.get('name')?.dirty || assetForm.get('name')?.touched)"
                class="alert alert-danger">

                <div *ngIf="assetForm.get('name')?.errors?.['required']">
                    Name is required.
                </div>
            </div>
            <br />

            <div class="my-gr-input-control specification-control">
                <label for="specification">Specification: </label>
                <textarea id="specification" class="my-textarea-control" type="textarea"
                    formControlName="specification"></textarea>
            </div>
            <div *ngIf="assetForm.get('specification')?.invalid && (assetForm.get('specification')?.dirty || assetForm.get('specification')?.touched)"
                class="alert alert-danger">

                <div *ngIf="assetForm.get('specification')?.errors?.['required']">
                    Specification is required.
                </div>
            </div>
            <br />

            <div class="my-gr-input-control">
                <label for="categoryId">Category: </label>
                <select class="custom-select mb-3 my-input-control" formControlName="categoryId">
                    <option *ngFor="let category of categoryList" [ngValue]="category.id">
                        {{ category.name }}
                    </option>
                </select>
            </div>
            <div *ngIf="assetForm.get('categoryId')?.invalid && (assetForm.get('categoryId')?.dirty || assetForm.get('categoryId')?.touched)"
                class="alert alert-danger">

                <div *ngIf="assetForm.get('categoryId')?.errors?.['required']">
                    Category is required.
                </div>
            </div>
            <br />

            <div class="my-gr-input-control">
                <label for="installedDate">Install Date: </label>
                <input id="installedDate" class="my-input-control" type="date" formControlName="installedDate">
            </div>
            <div *ngIf="assetForm.get('installedDate')?.invalid && (assetForm.get('installedDate')?.dirty || assetForm.get('installedDate')?.touched)"
                class="alert alert-danger">

                <div *ngIf="assetForm.get('installedDate')?.errors?.['required']">
                    Install Date is required.
                </div>
            </div>
            <br />

            <div class="my-gr-input-control state-control">
                <label id="example-radio-group-label">State:</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="asset-radio-group"
                    formControlName="state">
                    <mat-radio-button class="asset-radio-button" *ngFor="let state of states" [value]="state.id">
                        {{state.value}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="assetForm.get('state')?.invalid" class="alert alert-danger">

                <div *ngIf="assetForm.get('state')?.errors?.['required']">
                    State is required.
                </div>
            </div>
            <br />
            <div class="form-gr-btn">
                <button mat-raised-button color="warn" type="submit" [disabled]="!assetForm.valid">
                    Save
                </button>
                <button mat-raised-button (click)="OnCancelClick()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>