.asset-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.asset-radio-button {
    margin: 5px;
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
}

#installedDate{
  width: 289px;
}

.mat-radio-group.asset-radio-group{
  width: 299px;
  margin: 0;
}
.my-gr-input-control.state-control, .my-gr-input-control.specification-control{
  align-items: flex-start;
}