<div class="container">
    <mat-card class="card">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="example-form">
            <label for="name">First Name: </label>
            <input id="name" type="text" formControlName="firstName">
            <br />
            <label for="name">Last Name: </label>
            <input id="name" type="text" formControlName="lastName">
            <br />
            <label for="name">Age: </label>
            <input id="age" type="number" formControlName="age">
            <br />
            <label for="category">Category: </label>
            <!-- <select formControlName="category">
                <option ng-repeat="category in categoryList" value="{{category.name}}">{{category}}</option>
            </select> -->
            <select class="custom-select mb-3" formControlName="category">
                <option *ngFor="let category of categoryList" [ngValue]="category.id">
                    {{ category.name }}
                </option> </select>
                <!-- <mat-form-field appearance="fill">
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categoryList" [value]="category.name">{{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <br />
                <label for="installDate">Install Date: </label>
                <input id="installDate" type="date" formControlName="installDate">
                
                <br />
                <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">
                    Submit
                </button>
        </form>
    </mat-card>
</div>