<section>
    <div class="card-header">
        <div class="modal-title" mat-dialog-title>{{ data.title }}</div>
        <button *ngIf="data.isExited" mat-raised-button (click)="onNoClick()">Close</button>
    </div>
    
    <div *ngIf="!data.isExited" class="card-body">
        <div mat-dialog-content class="card-content">
            <!-- Want to display html elements from app-modal -->
            {{ data.message }}
        </div>
        <div mat-dialog-actions class="card-gr-btn">
            <button mat-raised-button color="warn" (click)="onClickYes()">{{data.confirmBtn}}</button>
            <button mat-raised-button (click)="onNoClick()">{{data.cancelBtn}}</button>
        </div>
    </div>
    <div *ngIf="data.isExited" class="card-body">
        <div mat-dialog-content class="card-content">
            <div>
                <p>There are valid assignments belonging to this user</p>
                <p>Please close all assignments before disabling user</p>
            </div>
        </div>
    </div>
</section>