/*--------------------*/
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

/* .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  } */

.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
}

.userform-gender-radio-group{
    width: 294px;
    display: flex;
    justify-content: flex-start;
}
.userform-gender-radio-group mat-radio-button{
    margin-right: 1rem;
}

#DateOfBirth,#JoinedDate{
    width: 289px;
}