<div class="container">
    <mat-card class="card">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="example-form">

            <label for="FirstName">First Name: </label>
            <input id="FirstName" type="text" formControlName="FirstName">
            <div *ngIf="userForm.get('FirstName')?.invalid && (userForm.get('FirstName')?.dirty || userForm.get('FirstName')?.touched)"
                class="alert alert-danger">

                <div *ngIf="userForm.get('FirstName')?.errors?.['required']">
                    First Name is required.
                </div>
            </div>
            <br />

            <label for="LastName">Last Name: </label>
            <input id="LastName" type="text" formControlName="LastName">
            <div *ngIf="userForm.get('LastName')?.invalid && (userForm.get('LastName')?.dirty || userForm.get('LastName')?.touched)"
                class="alert alert-danger">

                <div *ngIf="userForm.get('LastName')?.errors?.['required']">
                    Last Name is required.
                </div>
            </div>
            <br />

            <label for="Email">Email: </label>
            <input id="Email" type="text" formControlName="Email">
            <div *ngIf="userForm.get('Email')?.invalid && (userForm.get('Email')?.dirty || userForm.get('Email')?.touched)"
                class="alert alert-danger">

                <div *ngIf="userForm.get('Email')?.errors?.['required']">
                    Email is required.
                </div>
            </div>
            <br />

            <label for="UserName">User Name: </label>
            <input id="UserName" type="text" formControlName="UserName">
            <div *ngIf="userForm.get('UserName')?.invalid && (userForm.get('UserName')?.dirty || userForm.get('UserName')?.touched)"
                class="alert alert-danger">

                <div *ngIf="userForm.get('UserName')?.errors?.['required']">
                    UserName is required.
                </div>
            </div>
            <br />

            <label for="DateOfBirth">Date of birth: </label>
            <input id="DateOfBirth" type="date" formControlName="DateOfBirth">
            <div *ngIf="userForm.get('DateOfBirth')?.invalid && (userForm.get('DateOfBirth')?.dirty || userForm.get('DateOfBirth')?.touched)"
                class="alert alert-danger">

                <div *ngIf="userForm.get('DateOfBirth')?.errors?.['required']">
                    Date of birth is required.
                </div>
                <div *ngIf="userForm.get('DateOfBirth')?.errors?.['invalidDateOfBirth']">
                    User is under 18. Please select a different date.
                </div>
            </div>
            <br />

            <label id="example-radio-group-label">Gender</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="gender-radio-group"
                formControlName="Gender">
                <mat-radio-button class="gender-radio-button" *ngFor="let gender of genders" [value]="gender.id">
                    {{gender.name}}
                </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="userForm.get('Gender')?.invalid" class="alert alert-danger">

                <div *ngIf="userForm.get('Gender')?.errors?.['required']">
                    Gender is required.
                </div>
            </div>
            <br />

            <label for="joinedDate">Joined Date: </label>
            <input id="JoinedDate" type="date" formControlName="JoinedDate">
            <div *ngIf="userForm.get('JoinedDate')?.invalid && (userForm.get('JoinedDate')?.dirty || userForm.get('JoinedDate')?.touched)"
                class="alert alert-danger">

                <div *ngIf="userForm.get('JoinedDate')?.errors?.['required']">
                    Joined Date is required.
                </div>
                <div *ngIf="userForm.get('JoinedDate')?.errors?.['invalidWeekendJoinedDate']">
                    Joined date is Saturday or Sunday. Please select a different date.
                </div>

            </div>
            <div *ngIf="userForm.errors?.['invalidJoinedDateAfterDoB']&&userForm.get('JoinedDate')?.touched" class="alert alert-danger">
                <div>
                    Joined date is not later than Date of Birth. Please select a different date.
                </div>
            </div>
            <br />

            <label for="Type">Type: </label>
            <select class="custom-select mb-3" formControlName="Type">
                <option *ngFor="let type of typeList" [ngValue]="type.id">
                    {{ type.name }}
                </option>
            </select>
            <div *ngIf="userForm.get('Type')?.invalid && (userForm.get('Type')?.dirty || userForm.get('Type')?.touched)"
                class="alert alert-danger">

                <div *ngIf="userForm.get('Type')?.errors?.['required']">
                    Type is required.
                </div>
            </div>
            <br />

            <button mat-raised-button color="warn" type="submit" [disabled]="!userForm.valid">
                Save
            </button>
            <button mat-raised-button (click)="OnCancelClick()">
                Cancel
            </button>
        </form>
    </mat-card>
</div>