<nav>
    <ul class="vertical">
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/user" routerLinkActive="active">Manage User</a>
      </li>
      <li>
        <a routerLink="/asset" routerLinkActive="active">Manage Asset</a>
      </li>
      <li>
        <a routerLink="/assignment" routerLinkActive="active">Manage Assignment</a>
      </li>
      <li>
        <a routerLink="/report" routerLinkActive="active">Report</a>
      </li>
    </ul>
  </nav>
  