<section>
    <div class="card-header">
        <div class="modal-title">{{ data.title }}</div>
        <button mat-raised-button (click)="onNoClick()">Close</button>
    </div>
    <div class="card-body">
    <div mat-dialog-content class="dialogDetailInfoContent card-content">
        <div class="dialogDetailInfoContent_keys">
            <p *ngFor="let key of data.keys">
                {{key}}
            </p>
        </div>
        <div class="dialogDetailInfoContent_values">
            <p *ngFor="let value of data.values">
                {{value}}
            </p>
        </div>
    </div>
</div>
</section>