<section>
    <div>
        <button (click)="onNoClick()">Close</button>
        <!-- <mat-icon (click)="onNoClick()" aria-hidden="false" aria-label="close icon">close</mat-icon> -->
    </div>
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <div mat-dialog-content class="dialogDetailInfoContent">
        <!-- Want to display html elements from app-modal -->
        <div class="dialogDetailInfoContent_keys">
            <p *ngFor="let key of data.keys">
                {{key}}
            </p>
        </div>
        <div class="dialogDetailInfoContent_values">
            <p *ngFor="let value of data.values">
                {{value}}
            </p>
        </div>
    </div>
    <!-- <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">{{ data.text ? data.text : 'Ok' }}</button>
    </div> -->
</section>