/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-name--content {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(207, 35, 56, 1);
    margin-bottom: 1.75rem;
}

.modal-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(207, 35, 56, 1);
}

.custom-modalbox .mat-dialog-container {
    padding: 0;
    width: 30rem;
}

.asset-detail-modalbox .mat-dialog-container {
    padding: 0;
}

.assignment-detail-modalbox .mat-dialog-container {
    padding: 0;
    width: 30rem;
}

.user-detail-modalbox .mat-dialog-container {
    padding: 0;
    width: 30rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: rgba(112, 112, 112, 1);
    border-width: 2px;
    border-radius: 4px;
    padding: 1.25rem 2.25rem;
    background-color: rgba(239, 241, 245, 1);
}

.card-body {
    padding: 1.75rem 2.25rem;
    border-style: solid;
    border-color: rgba(112, 112, 112, 1);
    border-width: 2px;
    border-radius: 4px;
}

.card-content {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33, 37, 41, 1);
    padding-bottom: 1rem;
}

.card-gr-btn {
    width: 10rem;
    justify-content: space-between;
    display: flex;
}

.app-name {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(207, 35, 56, 1);
    margin-bottom: 3rem;
}

.search-control {
    border-style: solid;
    border-radius: 4px;
    border-color: rgba(112, 112, 112, 1);
    width: 255px;
    height: 35px;
    background: url(./assets/images/search-icon-transparent-9.jpg) no-repeat scroll;
    background-size: 60px;
    background-position: right center;
}

.calendar-control {
    border-style: solid;
    border-radius: 4px;
    border-color: rgba(112, 112, 112, 1);
    width: 155px;
    height: 35px;

}

/* Custom Calendar Icon In Chrome */
input[class="calendar-control"]::-webkit-calendar-picker-indicator {
    border-style: solid;
    border-color: rgba(112, 112, 112, 1);
    opacity: 1;
    display: block;
    background: url(./assets/images/blank-calendar-icon-png-white-transparent-calendar-icon.png) no-repeat;
    width: 30px;
    height: 30px;
    background-size: 25px;
    background-position: 5px;
    border-width: 2px;
}

.filter-gr {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filter-right {
    display: flex;
}

.filter-right button {
    margin-left: 1rem;
}

.createbtn {
    margin-left: 1rem;
}

.my-input-control {
    width: 286px;
    height: 35px;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(112, 112, 112, 1);
}

.my-gr-input-control {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-select.mb-3.my-input-control{
    width: 294px;
}
.my-textarea-control {
    width: 286px;
    height: 120px;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(112, 112, 112, 1);
}

/*-------------------x-square button--------------------*/
.x-square-fill_kx {
    overflow: visible;
    width: 22.5px;
    height: 22.5px;
    left: 407px;
    top: 24px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all 0.3s ease-out;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Manage_User.html;
    cursor: pointer;
}

#x-square-fill_kx {
    fill: transparent;
    stroke: rgba(227, 12, 24, 1);
    stroke-width: 2.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.form-gr-btn {
    margin-left: 15rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.alert.alert-danger.ng-star-inserted {
    margin-top: 1rem;
    width: 25rem;
  }